
<div th:fragment="header">



<!--<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Spring</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="home">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="blog">Блог</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="obout">О нас</a>
        <a class="py-2 text-dark text-decoration-none" href="/blog/add">Довавить статью</a>
    </nav>
</div>-->
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Spring</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Spring</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="me-3 py-2 text-dark text-decoration-none" href="home">Главная</a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="me-3 py-2 text-dark text-decoration-none" href="blog">Блог</a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="me-3 py-2 text-dark text-decoration-none" href="obout">О нас</a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="py-2 text-dark text-decoration-none" href="/blog/add">Довавить статью</a>
                        </li>
                        <li class="nav-item dropdown mt-2">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-dark" type="submit" value="Выйти"/>
                    </form>
                </div>
            </div>
        </div>
    </nav>

</div>